.header {
    position: relative;
    width: 720px;
    height: 176px;
    background-color: #0d2635;
  }
  
  .header .overlap {
    width: 552px;
    top: -14px;
    left: 94px;
    position: absolute;
    height: 172px;
  }
  
  .header .date {
    position: absolute;
    width: 100px;
    top: 34px;
    left: 452px;
    font-family: "Playfair Display-Bold";
    font-weight: 700;
    color: #faf8ee;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .header .overlap-group {
    width: 534px;
    top: 0;
    left: 0;
    position: absolute;
    height: 172px;
  }
  
  .header .div {
    width: 451px;
    top: 0;
    left: 0;
    position: absolute;
    height: 172px;
  }
  
  .header .title {
    position: absolute;
    top: 0;
    left: 80px;
    font-family: "Playfair Display-Bold";
    font-weight: 700;
    color: #faf8ee;
    font-size: 120px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .header .schedule-button {
    height: 42px;
    top: 130px;
    background-color: #0d2635;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #faf8ee;
    position: absolute;
    width: 117px;
    left: 0;
  }
  
  .header .text-wrapper {
    top: 10px;
    font-family: "Playfair Display-Bold";
    font-weight: 700;
    color: #faf8ee;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 117px;
    left: 0;
  }
  
  .header .map-button {
    height: 38px;
    top: 134px;
    left: 209px;
    background-color: #0d2635;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #faf8ee;
    position: absolute;
    width: 117px;
  }
  
  .header .text-wrapper-2 {
    top: 8px;
    left: 0;
    font-family: "Playfair Display-Bold";
    font-weight: 700;
    color: #faf8ee;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 117px;
  }
  
  .header .faq-button {
    all: unset;
    box-sizing: border-box;
    height: 38px;
    top: 134px;
    left: 417px;
    background-color: #0d2635;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #faf8ee;
    position: absolute;
    width: 117px;
  }
  
  .header .home-button {
    position: absolute;
    width: 38px;
    height: 28px;
    top: 21px;
    left: 25px;
    object-fit: cover;
  }
  
  